body {
    background-color: #f8f9fa;
}

.range-slider {
    position: relative;
    width: 100%;
    height: 30px;
}

.range-slider input[type=range] {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 8px;
    background: transparent;

    /* 호환성을 위한 appearance 정의 */
    -webkit-appearance: none; /* Chrome, Safari */
    -moz-appearance: none;    /* Firefox */
    appearance: none;         /* 표준 */
}

.range-slider input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #0078d7;
    cursor: pointer;

    -webkit-appearance: none; /* WebKit */
    appearance: none;         /* 표준 */
}

.range-slider input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #0078d7;
    cursor: pointer;

    -moz-appearance: none; /* Firefox */
    appearance: none;      /* 표준 */
}